<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main/tabs/tab5"></ion-back-button>
      <ion-title>Examen</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-grid fixed>
          <ion-row>
            <ion-col>
              <ion-list>
                <ion-item>
                  <ion-label color = "primary">Numero de telefono</ion-label>
                  <input type="text" [(ngModel)]="texto"  placeholder="Numero telefono" />
                </ion-item>

                <ion-item>
                  <ion-label color = "primary">Universidad</ion-label>
                  <input type="text" [(ngModel)]="texto2"  placeholder="Universidad" />
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <input type="button" (click)="AddDatos()" value="Enviar!"/>
            </ion-col>
          </ion-row>
</ion-grid>