<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Prueba minimo 2</ion-title>
  </ion-toolbar>
</ion-header>
<ion-card>
  <br/>
  <input type="text" [(ngModel)]="texto"  placeholder="Tu pregunta" />
  <input type="button" (click)="AddM()" value="Preguntar!" clearInput/>
</ion-card>



<ion-content>
  
    
    <ion-row class="top-20" >
      <ion-col size="12" text-center>
        <ion-label>
          <h1 >FAQs</h1>
        </ion-label>
      </ion-col>
    </ion-row>

    

    

</ion-content>
