<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
    <ion-title>reservar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
      <ion-list>
        <ion-item
          *ngFor="let sala of salas"
        >
          <ion-thumbnail slot="start" >
            <ion-img></ion-img>
          </ion-thumbnail>
          <ion-label>
            <h2>{{sala.name}}</h2>
            <p>{{sala.actividad}}</p>
            <p>{{sala.horario}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>