<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="perfilt">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="listado">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tuyos">
      <ion-icon name="heart-half-outline"></ion-icon>
      <ion-label>Tuyos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="otros">
      <ion-icon name="help-outline"></ion-icon>
      <ion-label>Otros</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="match">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-label>Match</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
