
body {
    text-align: center;
    }  
ion-icon {
    color:greenyellow;    
}
ion-item{
    font-family: fantasy;
    font-size: 120%;
}
ion-title {
    font-family:fantasy;
    font-size:150%;
    color: black;
    text-align: center;
   // background-color: blanchedalmond;
    }
ion-label {
    font-family:fantasy;
    font-size:120%;
    color: black;
       // background-color: blanchedalmond;
    }
ion-content {
        background-color: blanchedalmond;

    }
 ion-card {
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: blanchedalmond;
    }
div {
    font-size: 120%;
    }  
.my-custom-class {
        --background: #e5e5e5;
}
 