<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Gymder chat</ion-title>
  </ion-toolbar>
</ion-header>
<ion-card>
  <br/>
  <input type="text" [(ngModel)]="texto"  placeholder="Tu mensaje..." />
  <input type="button" (click)="AddM()" value="Enviar!" clearInput/>
</ion-card>
<ion-content>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Start Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-card>
        <ion-item *ngFor="let item of listaUser" >
            <name value= {{item}} id="name"></name> 
            <ion-avatar slot="start">
            </ion-avatar>
          <ion-label>
          {{item.username}}
          </ion-label>       
        </ion-item>
      </ion-card>
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Lista Conectados</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-card>
          <ion-item *ngFor="let item of listaUser" (click) = "NombreEnviar(item.username)" >
            <ion-avatar slot="start">
            </ion-avatar>
             <ion-label>
              {{item.username}}
              <ion-icon name="ellipse"></ion-icon>
             </ion-label>
        </ion-item>
      </ion-card>
    </ion-list>
  </ion-content>
 </ion-menu>
  
 <ion-menu side="end" menuId="custom2" contentId="main" class="my-custom-menu2">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>Lista amigos</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-card>
        <ion-item *ngFor="let item of amigos" (click) = "NombreEnviar(item.username)" >
          <ion-avatar slot="start">
          </ion-avatar>
           <ion-label>
            {{item.username}}
            <div *ngIf= "item.conectado == 0; else elseBlock">
              <ion-icon name="ellipse" color="danger"></ion-icon>
            </div>
            <ng-template #elseBlock>
              <ion-icon name="ellipse"></ion-icon>
            </ng-template>
           </ion-label>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>
</ion-menu>
  
  <ion-router-outlet id="main"></ion-router-outlet>
  <ion-card>
    <ion-card-content>
      <ion-list  >
        <ion-item *ngFor="let item of listaMensajes">    
          <ion-label>
          {{item}}
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

