<ion-content>
  <ion-slides class="mainSlide" #slidePrincipal [options]="slideOpts">
    <ion-slide>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <ion-grid fixed>
          <ion-row>
            <ion-col>
              <img src="/assets/avatars/av-1.png" />
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-list>
                <ion-item>
                  <ion-label color = "primary">Email</ion-label>
                  <ion-input name="email" type="email" formControlName="email">
                  </ion-input>
                </ion-item>

                <ion-item>
                  <ion-label color = "primary">Password</ion-label>
                  <ion-input
                    name="password"
                    type="password"
                    formControlName="password"
                  ></ion-input>
                </ion-item>



              </ion-list>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button type="submit" color="tertiary" shape="round">
                Login
              </ion-button>
            </ion-col>
          </ion-row>
          <p>
            <a (click)="recuperarPassword()">Recuperar Contraseña</a>
          </p>
          <br>
          <div style="text-align: center;">
            <br>
            <h4>
              Iniciar Sesión con  Redes Sociales
            </h4>
            <p>
            <ion-button shape="round" color="danger" (click)="loginGoogle()">
              <ion-icon name="logo-google"></ion-icon>
              GOOGLE
            </ion-button>
            <!-- <ion-button shape="round" color="primary" (click)="loginFacebook()">
              <ion-icon name="logo-facebook"></ion-icon>
              FACEBOOK
            </ion-button> -->
            </p>
          </div>
        </ion-grid>
      </form>
    </ion-slide>

    <ion-slide>
      <ion-grid fixed>
        <ion-row>
          <ion-col>
            <h3>Seleccione Avatar</h3>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-slides [options]="avatarSlide">
              <ion-slide *ngFor="let avatar of avatars">
                <ion-img
                  class="pick-avatar"
                  src="/assets/avatars/{{avatar.img}}"
                  [ngClass]="{ 'pick-avatar-seleccionado': avatar.seleccionado }"
                  (click)="seleccionarAvatar( avatar )"
                ></ion-img>
              </ion-slide>
            </ion-slides>
          </ion-col>
        </ion-row>

        <form [formGroup]="registerForm" >
          <ion-row>
            <ion-col>
              <ion-list>
                <ion-item>
                  <ion-label color = "primary">Email</ion-label>
                  <ion-input
                    name="email"
                    type="email"
                    formControlName="email"
                  ></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label color = "primary">Nombre</ion-label>
                  <ion-input
                    name="username"
                    type="text"
                    formControlName="username"
                  ></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating" color = "primary">Contraseña:</ion-label>
                    <ion-input [type]="passwordinput" formControlName="password"></ion-input>
                    <button  item-end  class="btn_eye_icon" (click) = "VistaPassword()">
                      <ion-icon [name]="iconpassword"></ion-icon>
                  </button>
                </ion-item>
              <p *ngIf="registerForm.controls['password'].hasError('required') && registerForm.controls.password.touched ">

              <ion-label color="danger">Las contraseñas tienen que coincidir</ion-label>
              </p>



                <ion-item>
                  <ion-label position="floating" color = "primary">Confirm Passw:</ion-label>
                    <ion-input [type]="confirmpasswordinput" formControlName="confirmpassword"></ion-input>
                    <button  item-end  class="btn_eye_icon" (click) = "VistaConfirmPassword()">
                      <ion-icon [name]="iconconfirmpassword"></ion-icon>
                  </button>
                </ion-item>
               <!--  <p *ngIf="editarPerfilForm.controls['confirmpassword'].hasError('required') || editarPerfilForm.controls['confirmpassword'].hasError('checkPassword')"> -->
                <p *ngIf="registerForm.controls['confirmpassword'].hasError('required') && registerForm.controls.confirmpassword.touched ">

                  <ion-label color="danger">Se ha de rellenar este campo</ion-label>
                  </p>
                <p *ngIf="registerForm.hasError('checkPassword')">

                <ion-label color="danger">Las contraseñas tienen que coincidir</ion-label>
                </p>

              </ion-list>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button type="submit" color="tertiary" shape="round" (click) = "registro()">
                Crear usuario
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer no-border>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-button
          shape="round"
          expand="full"
          size="small"
          fill="outline"
          color="tertiary"
          (click)="mostrarRegistro()"
        >
          Ingresar
        </ion-button>
      </ion-col>

      <ion-col>
        <ion-button
          shape="round"
          expand="full"
          size="small"
          fill="outline"
          color="tertiary"
          (click)="mostrarLogin()"
        >
          Registrarme
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
