<ion-header>
  <ion-navbar>
  <ion-toolbar>
    <ion-title>contact-us</ion-title>
  </ion-toolbar>
</ion-navbar>
</ion-header>

<ion-content padding>
  <div padding>
    <ion-item>
      <ion-label color="primary" stacked>Asunto</ion-label>
      <ion-input [(ngModel)]="subject" type="text" placeholder = "Asunto" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Body Content</ion-label>
      <ion-input [(ngModel)]="body" type="text" placeholder = "Escribe tu comentario" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Nombre</ion-label>
      <ion-input [(ngModel)]="to" type="text" placeholder = "Tu nombre" required></ion-input>
    </ion-item>
    <ion-button type="submit"  expand="block" fill="outline"  (click) = "send()">send</ion-button>
  </div>

</ion-content>
