<ion-header>
  <ion-toolbar>
    <ion-title>nosotros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>
      Kevin
    </ion-label>
    <ion-icon name="information-circle" slot="end"></ion-icon>
  </ion-item>
  
  <ion-item>
    <ion-label>
      Jordi
    </ion-label>
  </ion-item> 

  <ion-item>
    <ion-label>
      Miguel
    </ion-label>
  </ion-item>  

<ion-item>
  <ion-label>
    Carlos
  </ion-label>
</ion-item> 

<ion-item>
  <ion-label>
    Lluis
  </ion-label>
</ion-item>

<ion-item>
  <ion-label>
    Marc
  </ion-label>
</ion-item> 
  
</ion-content>
