<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main/tabs/tab3"></ion-back-button>
    <ion-title>perfil</ion-title>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
  <ion-col col-6>
  <ion-card text-center padding color="primary"  routerLink="/main/tabs/tab3/perfil/amigos" routerDirection="forward">
    <ion-icon name="person"></ion-icon>
    <h2>Agregar Amigos</h2>
  </ion-card>
 
  </ion-col>
</ion-row>
</ion-grid>

</ion-content>
